.Contact {
  margin-bottom: 10px;
}

.Info {
  margin-right: 15px;
}

.Btn {
  display: inline-block;
  padding: 5px;
  width: 30%;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.Btn:hover {
  border: 1px solid grey;
  background: blue;
  color: #fff;
}
